[Unit]
Description=ThinkBioT onBootStart
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python3 -u tbt_Start.py
WorkingDirectory=/home/pi/ThinkBioT
StandardOutput=inherit
StandardError=inherit
User=pi

[Install]
WantedBy=multi-user.target