[Unit]
Description=ThinkBioT start
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/ThinkBioT/tbtStart.py

[Install]
WantedBy=multi-user.target